<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About Me</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>I am an experienced photographer, videographer, graphic/web designer seeking a full-time position in
                    the field of social media and marketing communications, where I can apply my skills for continous
                    improvement.</p>
            </div>
            <div class="col-lg-4">
                <p class="skills">Skills & tools: 
                    <span class="badge badge-primary">Photography</span>
                    <span class="badge badge-primary">Videography</span>
                    <span class="badge badge-primary">Social Media Strategy</span>
                    <span class="badge badge-primary">Photoshop</span>
                    <span class="badge badge-primary">Google Classroom Administrator</span>
                    <span class="badge badge-primary">Illustrator</span>
                    <span class="badge badge-primary">Indesign</span>
                    <span class="badge badge-primary">Lightroom</span>
                    <span class="badge badge-primary">After Effects</span>
                    <span class="badge badge-primary">Premiere Pro</span>
                    <span class="badge badge-primary">Web Design</span>
                    <span class="badge badge-primary">HTML/CSS/JS</span>
                    <span class="badge badge-primary">Graphic Design (Print & Screen)</span>
                </p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="{{ root_url }}pdf/resume.pdf" target="_blank" class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i> Get my resume
                </a>
            </div>
        </div>
    </div>
</section>
