<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Portfolio</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row grid">
            {% for post in site.posts %}
            <div class="portfolio-item">
                <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/{{ post.img }}" class="img-responsive">
                    <!-- <img src="img/portfolio/others/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}"> -->
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-12 portfolio-item">
                <iframe width="100%" src="https://www.youtube.com/embed/AMDcDj_59AM?t=138" frameborder="0" allow="autoplay; encrypted-media"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>More of my works here:</h3>
                <h3><a href="https://www.youtube.com/channel/UCZO1Ek3gblhJVabuTV_qz8g" target="_blank">Youtube</a>&nbsp;&middot;&nbsp;<a href="https://www.flickr.com/people/rickylibunao" target="_blank">Flickr</a></h3>
            </div>
        </div>
    </div>
</section>